@import "tailwindcss";

body {
  background-color: #f5dbbb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: sans-serif;
  padding: 1rem;
}

.answer-btn {
   background-color: #f8f0e5;
   color: #333;
   border: 2px solid #eadbc8;
   border-radius: 10px;
   padding: 1rem;
   cursor: pointer;
   text-align: left;
   transition: all 0.3s ease;
}

.answer-btn:hover {
  background-color: #eadbc8;
  border-color: #dac0ae;
}

.correct {
  background-color: #e6fff0;
  border-color: #a3f0c4;
  color: #28a745;
}

.incorrect {
  background-color: #fff0f0;
  border-color: #ffbdbd;
  color: #dc3545;
}

#progress-bar {
  transition: width 0.3s;
  min-width: 0;
  display: block;
 
}