
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

:root {
  --font-display: "Bitcount Prop Single", sans-serif; 
}

body {
  font-family: var(--font-display);
}

